<h1>Demo#index</h1>
<p>this is the application which using lnyda.com</p>
<a href="/demo/hello">hello page 1 </a> </br>
<%= link_to("hello page 2",{:action => 'hello'}) %> </br>



<%= link_to("hello with the parameters",{:action => 'hello', :page =>5 , :id => 20}) %>

<%= link_to("RoAr" , '#', :onclick => "jsRoar('javascript');return true;") %>

<%=javascript_tag("jsRoar('rails');") %>

<% name="dhruv" %>
<% name= "sorry!'); alert('i hacked you!!" %>

<%= link_to("Roar" ,'#' , :onclick => "jsRoar('#{j(name)}');return true;") %>
