
<%= error_messages_for(@page) %>

<%= link_to("<<back to the list", { :action => 'index'}, :class => 'back-link') %>
<div class="page new">
<h2>Create page</h2>
	
<%= form_for( :page , :url => {:action => 'create'}) do |f| %>
<table summary="page form fields">

<tr>
<%= puts @subjects %>
		<th><%= f.label :subject_id, "Subjects" %></th>
		<td><%= f.select(:subject_id, @subjects.map { |s| [s.name ,s.id]  }) %></td>

</tr>

	
<tr>
		<th><%= f.label :name, "Name" %></th>
		<td><%= f.text_field(:name) %></td>

</tr>



<tr>
		<th><%= f.label :permalink, "Parmalink" %></th>
		<td><%= f.text_field(:permalink) %></td>

</tr>

<tr>
		<th><%= f.label :position, "Position" %></th>
		<td><%= f.select(:position , 1..@page_count) %></td>

</tr>


<tr>
		<th><%= f.label :visible, "Visible" %></th>
		<td><%= f.check_box :visible %></td>

</tr>

</table>
<div class="form-buttons">
		<%= submit_tag("create page") %>
</div>
<% end %>
</div>


